In [5]:
#to conert an integer to string
a=97
b=str(a)
print(type(b))
print("Integer to string: ",b)

<class 'str'>
Integer to string:  97

In [6]:
#to convert string to integer
a_num="77"
b_num=int(a_num)
print(type(b_num))
print("string to integer: ",b_num)

<class 'int'>
string to integer:  77

In [7]:
#write a program to check the input value in >100. if TRUE or FALSE,print "CONGRATS". if TRUE or FALSE, print "HAVE A NICE DAY"
def check_number(value):
    if value>100:
        return "CONGRATS"
    else:
        return "HAVE A NICE DAY"
user_input=int(input("Enter a number: "))
result=check_number(user_input)
print(result)

Enter a number: 777
CONGRATS

In [8]:
#Write a program to get two marks M1,M2 and pass it to be a function. Add 10 marks to M1 and, Add 20 marks to M2 and return both the values to the calling function
def marks(m1,m2):
    m1+=10
    m2+=20
    return m1,m2
M1=int(input("Enter the mark 1: "))
M2=int(input("Enter the mark 2: "))
new_M1,new_M2=marks(M1,M2)
print("Modified M1: ",new_M1)
print("Modified M2: ",new_M2)

Enter the mark 1: 77
Enter the mark 2: 88
Modified M1:  87
Modified M2:  108

In [9]:
#get product code,product name and price as input. Display output as "The <<product name>> with <<product code>> is sold as Rs.<<price>>"
product_code=input("Enter product code: ")
product_name=input("Enter product name: ")
price=int(input("Enter the price: "))
show=f"The<<{product_name}>>with<<{product_code}>>is sold at Rs.<<{price}>>"
print(show)

Enter product code: 918
Enter product name: phone
Enter the price: 30000
The<<phone>>with<<918>>is sold at Rs.<<30000>>

In [10]:
#consider you have 3 friends in your class Ask a person for first letter of your friends name based on the letter doesn't matches. print "Try another letter"
names={'K':'Krishna','R':'Raja','A':'Aswin'}
word=input("Enter the first letter of your friends name: ").upper()
friend_name=names.get(word,"Try Another letter")
print(friend_name)

Enter the first letter of your friends name: a
Aswin

In [11]:
#get 5 values in a for loop. for each value find the square of the number and print it in python
def cal_square(number):
    return number**2
values=[]
for i in range(5):
    value=float(input(f"Enter value {i+1}: "))
    values.append(value)
for value in values:
    square=cal_square(value)
    print(f"The square of {value} is: {square}")

Enter value 1: 33
Enter value 2: 77
Enter value 3: 99
Enter value 4: 7
Enter value 5: 6
The square of 33.0 is: 1089.0
The square of 77.0 is: 5929.0
The square of 99.0 is: 9801.0
The square of 7.0 is: 49.0
The square of 6.0 is: 36.0

In [12]:
#consider a string "JOSEPH". check the existence of characters S and T.
name="JOSEPH"
if 'S' in name:
    print(" 'S' exist in string")
else:
    print(" 'S' does not exist in string")
if 'T' in name:
    print(" 'T' exist in string")
else:
    print(" 'T' does not exist in string")

 'S' exist in string
 'T' does not exist in string

In [ ]:
#in python, there is a function max